li  class='span12' style='padding-left:20p; line-height:30px'
  div 
    a[href='/content/#{article.id}'style='font-size:20px;margin-left:10px'] #{article.title} <br />
    ' &nbsp;&nbsp;&nbsp;&nbsp;@#{article.write_at}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Visitors: #{article.visitors}
