#mainurl{
	font-size:xx-large;
	color:#234234;
}
.head{
	color:#cccccc;
	background-color:#333333;
	font-family:Times, TimesNR, 'New Century Schoolbook', Georgia, 'New York', serif;
	padding-top:16px;
	padding-left:140px;
	padding-bottom:20px;
}
#index_title{
	padding-top:35px;
	padding-left:82px;
	line-height:20px;
	font-size:24px;
	color:#333333;
	font-style:italic;
	font-weight:bold;
}
#index_date_visitor{
	margin-top:10px;
	margin-left:99px;
	font-size:12px;
}
#title{
	color:#cccccc;
	font-size:25px;
}
#content{
	padding-left:30px;
	padding-right:20px;
	background-color:#cccccc;
	width:56%;
}
#describe{
	color:#cccccc;
	font-size:17px;
	margin-top:-10px;
}
#failed_login, #not_login{
	font-family:Times, TimesNR, 'New Century Schoolbook', Georgia, 'New York', serif;
	text-align:center;
}
.backstage{
	float:left;
	padding-left:90px;
	padding-top:20px;
}
#backstage_index_title{
	border-bottom-color:groove;
	margin-top:16px;
	font-size:25px;
}
.edit{
	font-family:Times, TimesNR, 'New Century Schoolbook', Georgia, 'New York', serif;
	text-align:left;
}
#prompt{
	font-size:17px;
	text-align:center;
	line-height:35px;
}
#log_in_out{
	font-size:22px;
	float:right;
	color:white;
	margin-top:-50px;
	margin-right:60px;
}
.login{
	padding-top:10px;
	text-align:center;
}
#enter{
	font-size:34px;
}
#input_password{
}
